* {
    margin: 0;
    padding: 0;
    font-family: Lato, Roboto, sans-serif, 'Times New Roman', Times, serif;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.6s;
}

a:hover {
    /*efeito para quando passar o mouse*/
    opacity: 0.6;
    color: rgba(141, 137, 146, 0.719);
}

section {
    padding-top: 4vh;
}

.ambiente {
    height: 400px;
    background-position: center;
    background-attachment: fixed;
    background-image: url(/Imagens/espaco1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-whats {
    display: flex;
    padding-top: 2vh;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    justify-content: space-around;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Roboto, sans-serif, 'Times New Roman', Times, serif;
    background: #23232e;
    font-size: 3vh;
    height: 21vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.fundo {
    display: flex;
    background: #23232e;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.principal1 {
    box-shadow: 9px 9px 9px 9px rgba(0, 0, 0, 0.993);
    height: 600px;
    border-radius: 50px;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: #23232e;
    font-family: Roboto, sans-serif, 'Times New Roman', Times, serif;
    color: #fff;
    text-align: center;
}

.servicos {
    font-size: 25vh;
    background-color: #23232e;
    padding-top: 1rem;
}

.servicos-top {
    background-color: #23232e;
    font-size: 20px;
    font-family: Roboto, sans-serif, 'Times New Roman', Times, serif;
    color: #fff;
    text-align: center;
    padding-bottom: 4vh;
}

.servicos-lista img {
    border-radius: 30px;
}

.servicos-lista {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 19px;
    font-family: Roboto, sans-serif, 'Times New Roman', Times, serif;
    text-decoration: none;
    list-style: none;
    padding-bottom: 7vh;
}

.telefone {
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 7px;
}

.numero {
    padding-left: 8px;
    font-size: 2.5vh;
}

.botao {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    background-color: #4CAF50;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #23232e;
}

.botao:active {
    background-color: #3e8e41;
}

/*.imagens{
    background: #23232e;
    display: flex;
    flex-direction:row;
    
}*/

.desenvolvido {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5vh;
    color: #fff;
    font-size: 2.5vh;
}

main {
    background-size: cover;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 36px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.carrosel-fotos {
    padding-top: 10px;
    background-color: #23232e;
}

.box-fotos {
    height: 50vh;
    border-radius: 25px;
}

.contato {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5vh;
    font-size: 19px;
    font-family: Roboto, sans-serif, 'Times New Roman', Times, serif;
    color: #fff;
    padding-bottom: 3vh;
}

.logo-contato {
    padding-left: 18px;
}

.wpp-fixo {
    display: flex;
    position: fixed;
    right: 20px;
    bottom: 20px;
}


@media screen and (max-width:1200px) {
    .nav-list {
        list-style: none;
        display: none;
    }

    body {
        overflow-x: hidden !important;
    }

    .fundo {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .principal1{
        height: 350px;
    }

    .principal{
        height: 250px;
    }

    .servicos-lista {
        flex-direction: column;
        align-items: center;
    }

    .ambiente {
        background-size: cover;
        background-attachment: fixed;
        height: 11rem;
    }

    .nav-list {
        position: absolute;
        top: 23vh;
        right: 0;
        width: 45vw;
        height: 32vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        font-size: 2vh;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
    display: flex;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg)translate(-5px, -7px);
}